<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.schoolmanagementadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.app.schoolmanagementadmin.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.schoolmanagementadmin.WebviewActivity"></activity>
        <activity android:name="com.app.schoolmanagementadmin.ui.businfo.BusInfoActivity" />
        <activity android:name="com.app.schoolmanagementadmin.utils.FullScreenActivity"></activity>
        <activity android:name="com.app.schoolmanagementadmin.ui.complaint.ComplaintActivity" />
        <activity android:name="com.app.schoolmanagementadmin.upcomingtest.UpcomingTest" />
        <activity android:name="com.app.schoolmanagementadmin.ui.attendance.StudentListActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.notice.NoticeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.app.schoolmanagementadmin.ui.attendance.AttendenceActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.homework.HomeworkActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.login.LoginActivity" />
        <activity android:name="com.app.schoolmanagementadmin.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.app.schoolmanagementteacher.SplashActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.schoolmanagementadmin.HomeActivity" />
        <activity
            android:name="lv.chi.photopicker.utils.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.app.schoolmanagementadmin.ui.timetable.TimeTableActivity" />
        <activity android:name="com.app.schoolmanagementadmin.videos.VideosActivity" />
        <activity android:name="com.app.schoolmanagementadmin.videos.YoutubeDetailActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.leave.LeaveActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.feeinfo.FeeInfoActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.result.ResultActivity" />
        <activity android:name="com.app.schoolmanagementadmin.ui.event.EventActivity" />
    </application>

</manifest>